<div class="faded-body">
  <div class="navbar navbar-fixed-top" id="fade-header">
    <div class="navbar-inner" id="header">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo"><%= link_to image_tag('famlogo.png'), root_path, :class => "brand" %></div>
        <div class="nav-collapse container-fluid">
          <ul class="nav">
            <div id="generations"><li>Connecting Generations</li></div>
          </ul>
          <div class="row-fluid">
            <ul class="nav pull-right share-this">
              <span class='st_sharethis_custom'><%= image_tag('email.png') %></span>
              <span class='st_sharethis_custom'><%= image_tag('facebook.png') %></span>
              <span class='st_sharethis_custom'><%= image_tag('twitter.png') %></span>
          </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="">
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
    <% end %>
    <div class="container-fluid">
      <div class="row-fluid" id="top-pic">
        <div class="span12">
          <div class="jumbotron">
            <div class="row-fluid">
              <div class="columnA pull-left">
                <%= image_tag('postcard1.png') %>
              </div>
              <div class="form columnB pull-right">
                <%= render 'form' %>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="explain">
        <%= render 'explain' %>
      </div>
    </div>

  </div>
  <%= render 'layouts/footer' %>
  <div class="top-half"></div>
  <div class="bottom-half"></div>
</div>

<div class="transparent-cover">
</div>

<div class="confirm-card">
  <div class="stripe"><%= image_tag('stripebackground.png') %></div>
  <div class="white"><%= image_tag('whitebackground.png') %></div>
  <div class="pop-text">
    <h2>Thanks for signing up with FamGram!</h2>
    <p>We are just getting started and we'll let you know as soon as we're ready to start sending FamGrams. If you have any questions, feel free to email us at hello@famgram.co</p>
    <h3>Share with family and friends!</h3>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style add_confirm">
      <a class="addthis_button_email"><%= image_tag('redmail.png') %></a>
      <a class="addthis_button_facebook"><%= image_tag('bluefacebook.png') %></a>
      <a class="addthis_button_twitter"><%= image_tag('bluetwitter.png') %></a>
    </div>
    <br>
    <br>
    <div class="share-link">
      <p>Share This Link:  </p>
      <input value="http://famgram.co" disabled="true" id="linkshare">
    </div>
  </div>
</div>